.container{
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
body {
    padding-top: 10px;
}
[class*="col-"], footer {
    background-color: lightgreen;
    border: 2px solid black;
    border-radius: 6px;
    line-height: 40px;
    text-align: center;
}
.test1{
    background-color: red;
}
.test2{
    background-color: green;
}
.test3{
    background-color: black;
    color: white;
}
.test4{
    background-color: cyan;
}
.test5{
    background-color: grey;
    color: antiquewhite;
}
.test6{
    background-color: yellow;
}
.test7{
    background-color: antiquewhite;
}
.test8{
    background-color: brown;
}
.test9{
    background-color: blue;
}
.test10{
    background-color: beige;
}
.t1{
    background-color: red;
}
.t2 {
    background-color: yellow;
}
.t3 {
    background-color: darkslateblue;
}
.t4{
    background-color: darkslategrey;
}
